<div class="about-me">
  <section data-aos="fade-up">
    <div class="title">About me</div>
    <br />
    <p>I am Thi, meaning “poem" in Vietnamese,</p>
    <br />
    <p>
      Currently building experiences at Zalo, a messaging/ social media platform
      with 70+ million monthly active users. Our daily challenge revolves around
      building simple yet effective solution for users of all ages.
    </p>
    <br />
    <p>
      I believe technology should be accessible to all, regardless of background
      or familiarity. I strive to bridge the gap between humans and computers,
      creating lasting and impactful solutions. Design problems are are all
      around us, with endless solutions waiting to be found.
    </p>
  </section>

  <br /><br /><br /><br /><br /><br /><br /><br />
  <section data-aos="fade-up">
    <div class="title">Through my lens</div>
    <br />
    <p>
      Like designing and coming up with solutions for a product, I find
      storytelling through photography exciting and full of surprises. the
      meaning of one photo can be conveyed through countless of devices from the
      film materials, the date it is used or how the film is developed.
    </p>
    <br />
    <div class="center">
      <div class="grid">
        <img
          src="{{ imagePath }}/aboutme1.png"
          class="item g-col-12 g-col-md-4"
          data-aos="fade-up"
        />
        <img
          src="{{ imagePath }}/aboutme2.png"
          class="item g-col-12 g-col-md-4"
          data-aos="fade-up"
        />
        <img
          src="{{ imagePath }}/aboutme3.png"
          class="item g-col-12 g-col-md-4"
          data-aos="fade-up"
        />
        <img
          src="{{ imagePath }}/aboutme4.png"
          class="item g-col-12 g-col-md-4"
          data-aos="fade-up"
        />
        <img
          src="{{ imagePath }}/aboutme5.png"
          class="item g-col-12 g-col-md-4"
          data-aos="fade-up"
          data-aos-delay="50"
        />
        <img
          src="{{ imagePath }}/aboutme6.png"
          class="item g-col-12 g-col-md-4"
          data-aos="fade-up"
        />
      </div>
    </div>
  </section>
</div>
