<div class="projects">
  <br />
  <br />
  <br />
  <br />
  <div *ngIf="visible" class="flex align-center">
    <div class="title">Design for</div>
    <div class="typing-box title">
      <div class="typing-effect">{{ typingText }}</div>
    </div>
  </div>
  <br />
  <br />
  <div data-aos="fade-right">
    I am <b>Thi Ho</b>, a product designer who is constantly <br />
    seeking out great challenges, bridging the <br />
    gap between technology and humans
  </div>
  <br />
  <br />
  <br />
  <br />
  <div class="flex center column">
    <div class="wrapper1 mt-70">
      <div>
        <div class="item">
          <img src="{{ imagePath }}/projects1.png" data-aos="fade-up" />
        </div>
        <div class="item">
          <img src="{{ imagePath }}/projects2.png" data-aos="fade-up" />
        </div>
      </div>
      <div>
        <div class="item">
          <img src="{{ imagePath }}/projects4.png" data-aos="fade-up" />
        </div>
        <div class="item">
          <img src="{{ imagePath }}/projects3.png" data-aos="fade-up" />
        </div>
      </div>
    </div>
    <div class="item">
      <img src="{{ imagePath }}/projects5.png" data-aos="fade-up" />
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="black flex center column">
  <div>
    <div class="white-text large-size">From the archives</div>
    <div class="wrapper1 flex center">
      <div class="mt-100">
        <div class="item">
          <a
            href="https://www.behance.net/gallery/137813957/Downy-French-Lavender-Diptyque-CGI-Video"
            target="_blank"
          >
            <img src="{{ imagePath }}/projects6.png" data-aos="fade-up" />
          </a>
        </div>
        <br />
        <div class="item">
          <img src="{{ imagePath }}/projects8.png" data-aos="fade-up" />
        </div>
      </div>
      <div class="mt-50">
        <div class="item">
          <a
            href="https://www.behance.net/gallery/140724035/Mirinda-TVC-2022-x-Soobin-Pass-the-drop"
            target="_blank"
            ><img src="{{ imagePath }}/projects7.png" data-aos="fade-up"
          /></a>
        </div>
        <br />
        <div class="item">
          <a
            href="https://www.behance.net/gallery/137153351/Greenfeed-Animation-Video-OKR-Explainer"
            target="_blank"
          >
            <img src="{{ imagePath }}/projects9.png" data-aos="fade-up"
          /></a>
        </div>
        <br />
        <div class="item">
          <img src="{{ imagePath }}/projects10.png" data-aos="fade-up" />
        </div>
      </div>
    </div>
  </div>
</div>
