<div class="regreen flex center column">
  <div class="flex center">
    <img src="{{ imagePath }}/regreen1.png" />
  </div>
  <div class="wrapper flex center column">
    <div>
      <div class="project-overview mt-100">
        <div class="flex align-center">
          <span>
            <img
              width="64"
              height="32"
              src="{{ imagePath }}/rectangle179.png"
            />
          </span>
          <span class="title">Project overview</span>
        </div>
        <p class="mt-40">
          In 2019, during our project for the Management of Change course at
          University, we had the chance to meet with the CEO of La Vie - Nestlé
          Waters Vietnam. The company is committing to turn 100% of its
          packaging recyclable or reusable by 2025.
        </p>
        <p>
          The problem that they are facing is how to recycle water bottles more
          effectively. In Vietnam, there is no formal system for collecting
          recyclable waste like papers, metals,... All these jobs are done by
          informal services called “Ve chai”. Scrap collectors would travel
          around aimlessly by bicycle and looking for sellers.
        </p>
        <br />
        <div class="grid">
          <div class="g-col-12 g-col-md-6 flex">
            <img src="{{ imagePath }}/regreen2.png" />
            <div class="flex column">
              <h2 class="item-title">More than 80% city area</h2>
              <div class="ml-10">
                can be covered with the scrap collectors' service
              </div>
            </div>
          </div>
          <div class="g-col-12 g-col-md-6 flex">
            <img src="{{ imagePath }}/regreen3.png" />
            <div class="flex column">
              <h2 class="item-title2">Only 27% over 500 tons</h2>
              <div>can be covered with the scrap collectors' service</div>
            </div>
          </div>
        </div>
        <br />
        <div class="flex">
          <img src="{{ imagePath }}/regreen4.png" />
          <div class="flex column">
            <h2 class="item-title">80% oplastic are imports</h2>
            <div class="ml-10">to use as manufacturing materials each year</div>
          </div>
        </div>
        <br />
        <br />
        <br />
        <div class="grid">
          <div class="g-col-12 g-col-md-6">
            <div class="header1">TIMELINE</div>
            <p>
              August 2019. Revisted in 2022 for UI and style guide refinement
            </p>
          </div>
          <div class="g-col-12 g-col-md-6">
            <div class="header1">WHAT I DID</div>
            <p>
              User research, user flow, wireframe, hi-fi prototype, user
              testing, style guide
            </p>
          </div>
        </div>
        <br />
        <div class="flex">
          <div class="flex column">
            <div class="flex">
              <img src="{{ imagePath }}/regreen5.png" />
              <img src="{{ imagePath }}/regreen6.png" />
            </div>
            <img src="{{ imagePath }}/regreen7.png" />
          </div>
          <div>
            <img src="{{ imagePath }}/regreen8.png" />
          </div>
        </div>
      </div>
      <div class="user-interview mt-100">
        <div class="flex align-center">
          <span>
            <img
              width="64"
              height="32"
              src="{{ imagePath }}/rectangle179.png"
            />
          </span>
          <span class="title">User interview</span>
        </div>
        <h2 class="mt-40">Overview</h2>
        <p>
          The main user target of reGreen is from 18 - 35 as university students
          and workers who live with extended families, young housewives, or
          people who own small family businesses.
        </p>
        <h2 class="mt-40">Pain points</h2>
        <p>
          I conducted online survey of 10 people to have a general picture of
          the scrap collecting business and its problem the service is having to
          users
        </p>
        <br />
        <img src="{{ imagePath }}/regreen9.png" />
        <div class="mb-50"></div>
        <img src="{{ imagePath }}/regreen10.png" />
        <div class="mb-50"></div>
        <img src="{{ imagePath }}/regreen11.png" />
      </div>
    </div>
  </div>
</div>
<div class="bg-black pb-100 pt-100">
  <div class="personas">
    <span>
      <img width="64" height="32" src="{{ imagePath }}/rectangle178.png" />
    </span>
    <span class="title">Personas</span>
  </div>
  <div class="flex center column">
    <div class="persona-item">
      <div class="flex">
        <img src="{{ imagePath }}/regreen12.png" />
        <div class="flex column">
          <b class="dark-green">Bao Tam</b>
          <p>26 / Female / Office worker</p>
        </div>
      </div>
      <h3 class="dark-green">Bio</h3>
      <p>
        Tam is an energetic office worker who lives in an apartment building
        outside the city center. She likes online shopping and collecting online
        vouchers in her free time.
      </p>
      <br />
      <h3 class="dark-green">Problem Statement</h3>
      <p>
        She wanted to recycle many of her used items in a fast and convenient
        way, because she don’t have time to come downstairs and wait for
        collectors to spontaneously arrive. Moreover, stuff she wants to sell is
        usually too little for collectors to buy.
      </p>
    </div>
    <br />
    <br />
    <div class="persona-item">
      <div class="flex">
        <img src="{{ imagePath }}/regreen13.png" />
        <div class="flex column">
          <b class="dark-green">Minh Son</b>
          <p>32 / Male / Grocery store owner</p>
        </div>
      </div>
      <h3 class="dark-green">Bio</h3>
      <p>
        Tam is an energetic office worker who lives in an apartment building
        outside the city center. She likes online shopping and collecting online
        vouchers in her free time.
      </p>
      <br />
      <h3 class="dark-green">Problem Statement</h3>
      <p>
        She wanted to recycle many of her used items in a fast and convenient
        way, because she don’t have time to come downstairs and wait for
        collectors to spontaneously arrive. Moreover, stuff she wants to sell is
        usually too little for collectors to buy.
      </p>
    </div>
  </div>
</div>
<div class="regreen flex center column">
  <div class="wrapper flex center column">
    <div>
      <div class="competitor-analysis mt-100">
        <div class="flex align-center">
          <span>
            <img
              width="64"
              height="32"
              src="{{ imagePath }}/rectangle179.png"
            />
          </span>
          <span class="title">Competitor analysis</span>
        </div>
        <div class="mt-40"></div>
        <img src="{{ imagePath }}/regreen14.png" />
        <br />
        <br />
        <br />
        <div class="flex center column">
          <div class="grey-wrapper">
            <h3>The gap</h3>
            <ul>
              <li>
                Price is fixed on competitors’ apps but is rather low-priced.
                There is no app with free price communication and suggested
                market price available.
              </li>
              <li>Donate option is not available.</li>
              <li>
                The competitors don’t have clear gamification reward system to
                encourage users to use more of the app.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="project-goals mt-100">
        <div class="flex align-center">
          <span>
            <img
              width="64"
              height="32"
              src="{{ imagePath }}/rectangle179.png"
            />
          </span>
          <span class="title">Project goals</span>
        </div>
        <h2 class="mt-40">Main features</h2>
        <p>
          From the interviews and competitor research of current online
          services, I was able to find the main goals the app can focus on
        </p>
        <div class="grid">
          <div class="g-col-12 g-col-md-4">
            <div class="bg-white-wrapper">
              <img src="{{ imagePath }}/regreen15.png" />
              <h3>Connect better and faster</h3>
              <p>
                Connect seller with scrap collectors within a few taps on the
                phone. Users can choose to sell immediately, or set schedule.
                People who have little to sell can find other sellers in the
                vicinity to sell together.
              </p>
            </div>
          </div>
          <div class="g-col-12 g-col-md-4">
            <div class="bg-white-wrapper">
              <img src="{{ imagePath }}/regreen16.png" />
              <h3>Sell or donate if you like</h3>
              <p>
                Some users don’t like saving up used stuff at home. They can set
                schedule for collectors to come get it, and donate all or a
                portion of the money and transfer them into point.
              </p>
            </div>
          </div>
          <div class="g-col-12 g-col-md-4">
            <div class="bg-white-wrapper">
              <img src="{{ imagePath }}/regreen17.png" />
              <h3>Gamification Based Reward</h3>
              <p>
                Clear rewarding system for users. Encourage them to sell more by
                creating communities where friends can do challenges and compete
                together.
              </p>
            </div>
          </div>
        </div>

        <h2 class="mt-40">Pain points</h2>
        <p>
          I conducted online survey of 10 people to have a general picture of
          the scrap collecting business and its problem the service is having to
          users
        </p>
        <br />
        <img src="{{ imagePath }}/regreen9.png" />
        <div class="mb-50"></div>
        <img src="{{ imagePath }}/regreen10.png" />
        <div class="mb-50"></div>
        <img src="{{ imagePath }}/regreen11.png" />
      </div>
      <div class="user-flow mt-100">
        <div class="flex align-center">
          <span>
            <img
              width="64"
              height="32"
              src="{{ imagePath }}/rectangle179.png"
            />
          </span>
          <span class="title">User flow</span>
        </div>
        <p class="mt-40">
          User flow for the first-time user with the total estimated weight of
          product more than 2 kilograms
        </p>
        <img src="{{ imagePath }}/regreen23.png" />
      </div>
      <div class="wireframes-wireflows mt-100">
        <div class="flex align-center">
          <span>
            <img
              width="64"
              height="32"
              src="{{ imagePath }}/rectangle179.png"
            />
          </span>
          <span class="title">Wireframes and wireflows</span>
        </div>
        <div class="mt-40"></div>
        <img src="{{ imagePath }}/regreen19.png" />
      </div>
      <div class="notable-improvements mt-100">
        <div class="flex align-center">
          <span>
            <img
              width="64"
              height="32"
              src="{{ imagePath }}/rectangle179.png"
            />
          </span>
          <span class="title">Notable improvements</span>
        </div>
        <h2 class="mt-40">1. “Selling products” Interaction</h2>
        <h2 class="blue-main">Before</h2>
        <p>
          To sell products, users can press and hold each item to know more
          about product information. After that, they can tap to choose desired
          products.
        </p>
        <p>Although there’s a description, 5/5 users are not aware of that.</p>
        <h2 class="blue-main">After</h2>
        <b
          >Users can tap each item to know more about product information.
          Navigation buttons (Close tab, Add another product, Sell now) are
          placed on the product card.</b
        >
        <img src="{{ imagePath }}/regreen20.png" />

        <h2>2. Step-by-step information filling</h2>
        <h2 class="blue-main">Before</h2>
        <p>
          Users have to type in the product weight. All CTA buttons (Sell with
          others, Schedule, Sell now) are placed in one place.
        </p>
        <p>4/5 users are confused about the CTA buttons</p>
        <b
          >“I only understand the “Sell now” button. I don’t understand what
          “Sell with others” and “Schedule” means, so I skipped them.”</b
        >
        <h2 class="blue-main">After</h2>
        <p>
          Divide into smaller steps and add description below each option for
          users to understand.
        </p>
        <p>
          Users type in the weight first, the app brings them to the next step
          of selling options available for each type of weight users have.
        </p>
        <br />
        <img src="{{ imagePath }}/regreen20.png" />
      </div>
      <div class="style-guide mt-100">
        <div class="flex align-center">
          <span>
            <img
              width="64"
              height="32"
              src="{{ imagePath }}/rectangle179.png"
            />
          </span>
          <span class="title">Style guide</span>
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
        <h1>Space Grotesk</h1>
        <br />
        <img src="{{ imagePath }}/regreen21.png" />
        <br />
        <br />
        <img src="{{ imagePath }}/regreen22.png" />
        <br />
        <br />
        <img src="{{ imagePath }}/regreen24.png" />
      </div>
    </div>
  </div>
</div>
<div class="flex center mt-100">
  <img src="{{ imagePath }}/regreen25.png" />
</div>

<div class="regreen flex center column">
  <div class="wrapper flex center column">
    <div>
      <div class="user-intergace mt-100">
        <div class="flex align-center">
          <span>
            <img
              width="64"
              height="32"
              src="{{ imagePath }}/rectangle179.png"
            />
          </span>
          <span class="title">User interface</span>
        </div>
        <h2 class="mt-40">1. On boarding</h2>
        <p>
          ReGreen allows users to try the function first before committing
          anything. Therefore, there would be
          <b>no “Sign in/Sign up" process at this point.</b>
        </p>
        <img src="{{ imagePath }}/regreen26.png" />
        <h2 class="mt-40">2. Homepage</h2>
        <img src="{{ imagePath }}/regreen27.png" />
        <h2 class="mt-40">3. Product Information</h2>
        <img src="{{ imagePath }}/regreen28.png" />
        <div class="mt-40"></div>
        <img src="{{ imagePath }}/regreen29.png" />
        <div class="mt-40"></div>
        <img src="{{ imagePath }}/regreen34.png" />
        <div class="mt-40"></div>
        <img src="{{ imagePath }}/regreen30.png" />

        <h2 class="mt-40">4. Confirmation page</h2>
        <p>
          Scrap collectors would take measurements, do quality check and
          reconfirm the final numbers again.
        </p>
        <p>
          ReGreen will notify the change in the order and user has to confirm
          the number before finishing the task.
        </p>
        <div class="grid center">
          <div class="g-col-12 g-col-md-4">
            <img src="{{ imagePath }}/regreen31.png" />
          </div>
          <div class="g-col-12 g-col-md-4 ml-10">
            <img src="{{ imagePath }}/regreen32.png" />
          </div>
          <div class="g-col-12 g-col-md-4 ml-10">
            <img src="{{ imagePath }}/regreen33.png" />
          </div>
        </div>

        <div class="mt-100"></div>
        <h2 class="mt-40">5. Achievement</h2>
        <img src="{{ imagePath }}/regreen38.png" />
      </div>
      <div class="what-can-be-improved mt-100">
        <div class="flex align-center">
          <span>
            <img
              width="64"
              height="32"
              src="{{ imagePath }}/rectangle179.png"
            />
          </span>
          <span class="title">What can be improved</span>
        </div>
        <h2 class="mt-40">New feature</h2>
        <p>
          One of our concerns while building the app is how to help scrap
          collectors, who are not tech-savvy, to easily use the service.
        </p>
        <p>
          As for another edge case where scrap collectors don’t use smartphones,
          confirmation page will be improved. Order details can also be adjusted
          by users after scrap collectors' assessment. Then they can use a PIN
          number from scrap collector’s phone to confirm the last number detail.
        </p>
        <h2 class="mt-40">What I have learnt</h2>
        <ul>
          <li>
            Defining clearly in detail the problem of users and the current
            service is having is a great way to start
          </li>
          <li>Never be satisfied with the first draft</li>
          <li>
            Usability studies and peer reviews are extremely important in making
            this work
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-see-next-project
  content="Converting banking insurance lessons into an entertaining game with Banca"
  subContent="UI design/2022"
></app-see-next-project>
