<div class="zalo-connect flex center column">
  <div class="flex center">
    <img src="{{ imagePath }}/zalo-connect1.png" />
  </div>
  <div class="wrapper flex center column">
    <div class="project-overview mt-100">
      <div class="flex align-center">
        <span>
          <img width="64" height="32" src="{{ imagePath }}/rectangle179.png" />
        </span>
        <span class="title">Project overview</span>
      </div>
      <p class="mt-40">
        During the COVID pandemic in Vietnam, Zalo Connect, a mini-app within
        Zalo, gained popularity by finding assistance and connecting small
        businesses to households to buy food, utilities and medicine under
        restrictions. However, as the pandemic receded and restrictions were
        lifted, Zalo Connect faced challenges in finding a new direction and
        establishing its own unique branding.
      </p>
      <p>
        Despite these challenges, we remained optimistic about the app's
        potential to continue to expand and support small business owners who
        are active on Zalo.
      </p>
      <br />
      <br />
      <div class="grid">
        <div class="g-col-12 g-col-md-4">
          <div class="header1">TIMELINE</div>
          <div>August 2022 - March 2023. Released on market on April 2023</div>
        </div>
        <div class="g-col-12 g-col-md-4">
          <div class="header1">THE TEAM</div>
          <div>
            1 product owner, 1 designer with guidance from 1 senior lead
            designer, 1 writer and teams of developers and QC
          </div>
        </div>
        <div class="g-col-12 g-col-md-4">
          <div class="header1">WHAT I DID</div>
          <div>
            User research, wireframe, hi-fi prototype, user testing, final
            product
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
      <img src="{{ imagePath }}/zalo-connect2.png" />
      <br />
      <div class="grey flex center">
        The original version of Zalo Connect: Finding help during COVID or
        buying food and medicine
      </div>
    </div>
    <div class="research mt-100">
      <div class="flex align-center">
        <span>
          <img width="64" height="32" src="{{ imagePath }}/rectangle179.png" />
        </span>
        <span class="title">Research</span>
      </div>
      <h2 class="mt-40">
        Insights from user data indicates a promising marketplace
      </h2>
      <ul>
        <li>
          Over 2.7 million active users utilize their Zalo profiles to sell
          their products, creating a massive C-commerce marketplace within the
          Zalo social network.
        </li>
        <li>
          Users frequently sell various products depending on the season and
          post their listings actively on their own profile, averaging 2-6 posts
          per day.
        </li>
        <li>
          Many sellers form wholesale groups to distribute products to
          retailers. These groups are some of the largest and most active on the
          platform, indicating a thriving marketplace.
        </li>
      </ul>
      <h2 class="mt-40">Pain points</h2>
      <div class="grid">
        <div class="g-col-12 g-col-md-3">
          <img src="{{ imagePath }}/zalo-connect3.png" />
        </div>
        <div class="g-col-12 g-col-md-9">
          <h3>Lack diversity and content</h3>
          <p>
            Each shop has a single profile with a field of description to write
            down all of their products and shipping information. These profiles
            are grouped into feed based solely on user location. Since the shop
            profiles and pictures remain the same for a long period on feed,
            <b>users are discouraged from exploring new content</b>.
          </p>
          <p>
            To update listings , sellers need to submit a new profile and wait
            up to 24 hours for approval. This system was put in place during
            COVID-19 restrictions but has become outdated as sellers now have
            access to a wider range of products and update their listing daily.
          </p>
          <img src="{{ imagePath }}/zalo-connect4.png" />
        </div>
      </div>
      <br />
      <div class="grid">
        <div class="g-col-12 g-col-md-3">
          <img src="{{ imagePath }}/zalo-connect5.png" />
        </div>
        <div class="g-col-12 g-col-md-9">
          <h3>Lack solid positioning</h3>
          <p>
            Based on surveys and in-depth interviews with sellers and buyers, it
            was found that Zalo Connect lacks a strong position in the users'
            view. Many users are still confused of what can actually be
            purchased on Zalo Connect.
          </p>
        </div>
      </div>
      <br />
      <div class="grid">
        <div class="g-col-12 g-col-md-3">
          <img src="{{ imagePath }}/zalo-connect6.png" />
        </div>
        <div class="g-col-12 g-col-md-9">
          <h3>Hard to use</h3>
          <p>
            The mini-app is considered difficult to use by many, especially the
            content posting process and the location-based feed.
          </p>
        </div>
      </div>
    </div>
    <div class="iteration mt-100">
      <div class="flex align-center">
        <span>
          <img width="64" height="32" src="{{ imagePath }}/rectangle179.png" />
        </span>
        <span class="title">Iteration</span>
      </div>
      <h2 class="mt-40">
        Two main criteria are identified to guide the direction of solution
        exploration
      </h2>
      <div class="grid">
        <div class="g-col-12 g-col-md-5">
          <img src="{{ imagePath }}/zalo-connect9.png" />
          <h3>Fast and easy</h3>
          <p>
            Ensure that the mini-app is user-friendly and clearly communicates
            its purpose
          </p>
        </div>
        <div class="g-col-12 g-col-md-5">
          <img src="{{ imagePath }}/zalo-connect10.png" />
          <h3>MVP</h3>
          <p>
            Given that we need to release as soon as possible to receive
            feedback and evaluate shop turnout, our priority will be to design
            only the core features.
          </p>
        </div>
      </div>
      <h2 class="mt-40">User flows</h2>
      <p>We started to define:</p>
      <ul>
        <li>Seller registration flow from social feed</li>
        <li>Seller registration flow from the mini-app</li>
        <li>Buyer's purchase flow</li>
      </ul>
      <p>
        We had several brainstorming and review sessions with my senior lead
        designer and product owners for 3 months, from user flows, wireframe to
        high-fidelity mockups to make the final decisions.
      </p>
      <div class="flex center p-30">
        <img src="{{ imagePath }}/zalo-connect11.png" />
      </div>
    </div>
    <div class="solution mt-100">
      <div class="flex align-center">
        <span>
          <img width="64" height="32" src="{{ imagePath }}/rectangle179.png" />
        </span>
        <span class="title">Our solution</span>
      </div>
      <h2 class="mt-40">Zalo Connect now focuses on food</h2>
      <p>
        Food is now the main focus of Zalo Connect, with an emphasis on
        specialties and fresh ingredients. Users can message sellers to buy
        products and get more information, just as they usually did.
      </p>
      <p>
        Previously, users needed to be friends with sellers on Zalo to see
        product listing on their profile. With Zalo Connect, users can discover
        more products nearby without being friends with sellers.
      </p>
      <img src="{{ imagePath }}/zalo-connect12.png" />
      <h2 class="mt-40">A brand new look</h2>
      <p>
        After conducting several interviews with the seller, it was apparent
        that the branding needed to be updated to better align with their image
        and message. We chose a more playful and cheerful approach, using
        vibrant colors that accurately represent the seller's values and
        personality, while keeping the core of Zalo branding.
      </p>
      <img src="{{ imagePath }}/zalo-connect13.png" />
      <h2>Seller’s shop registration</h2>
      <p>
        To comply with the new safety regulations, sellers must follow steps to
        migrate to the new version. Dividing the process into smaller steps
        helps users easily register new shops. One of the challenges we face is
        how to deal with:
      </p>
      <ul>
        <li>
          Shops on the old version of Zalo Connect wanting to migrate to the new
          version
        </li>
        <li>
          Shops selling non-food products or a combination of food and other
          products, now wanting to migrate to the new version
        </li>
        <li>
          New regulation requiring identity verification for each shop,
          resulting in a mix of unverified old shops and verified new shops on
          the platform
        </li>
        <li>
          New regulation requiring a shop registration approval process,
          conducted by a safety team, which typically takes a maximum of 24
          hours to approve
        </li>
      </ul>
      <img src="{{ imagePath }}/zalo-connect14.png" />
      <h3>Seller registration flow from social feed</h3>
      <img src="{{ imagePath }}/zalo-connect15.png" />
      <h3>Seller registration flow from the mini-app</h3>
      <img src="{{ imagePath }}/zalo-connect16.png" />
      <h3>Shop status</h3>
      <p>
        Different banners are defined for each shop status to help user
        navigate.
      </p>
      <img src="{{ imagePath }}/zalo-connect17.png" />
      <p>
        <b>1. Empty:</b> Sellers create shops from mini-app but got rejected by
        safety team, or shop which has been migrated from the old ZC version but
        doesn’t sell food
      </p>
      <p>
        <b>2. Pending:</b> New sellers create shops for the first time from
        mini-app waiting for approval
      </p>
      <p>
        <b>3. Active:</b> Shops that has been approved to operate. They can
        still post new listings despite any changes made in shop information,
        whether it is approved or not.
      </p>
      <p>
        <b>4. Updating:</b> Seller who already has an active shop and submit an
        update, waiting for approval
      </p>
      <p>
        <b>5. Temporary:</b> Seller who has approved shop profile but hasn’t
        verified their identity
      </p>
      <p>
        <b>Unverified:</b> Seller who has approved shop profile but hasn’t
        verified their identity for over 30 days. These shops’s post button is
        disabled
      </p>
      <p>
        <b>Hidden:</b> Shops which hasn’t been migrated the old ZC version and
        doesn’t sell food
      </p>
      <h2 class="mt-40">Feed and Buyer’s purchase flow</h2>
      <div class="grid center">
        <div class="g-col-12 g-col-md-6">
          <img src="{{ imagePath }}/zalo-connect18.png" />
        </div>
        <div class="g-col-12 g-col-md-6">
          To improve the efficiency of the old feed ranking system, we
          introduced 3 factors:
          <b>distance, time, and number of followers</b> into the equation. We
          settled on a satisfactory number after testing various priorities and
          weights, with distance being the most important.
        </div>
      </div>
      <div class="mt-40"></div>
      <div class="grid center">
        <div class="g-col-12 g-col-md-6">
          <img src="{{ imagePath }}/zalo-connect19.png" />
        </div>
        <div class="g-col-12 g-col-md-6">
          For better content discovery, aside from the regular feed, there is
          suggestion carousel of many shops nearby for users to discover.
        </div>
      </div>
      <div class="mt-40"></div>
      <div class="grid center">
        <div class="g-col-12 g-col-md-6">
          The filter design is changed into chips to be more clickable with
          larger text size and stronger contrast, encourage users to discover
          more categories.
        </div>
        <div class="g-col-12 g-col-md-6">
          <img src="{{ imagePath }}/zalo-connect20.png" />
        </div>
      </div>
      <div class="mt-40"></div>
      <div class="grid center">
        <div class="g-col-12 g-col-md-6">
          <h3>Card design</h3>
          <p>
            The description is increased to 4 lines for better grasp of the post
            content.
          </p>
          <p>
            The main objective is for buyers to send message to sellers, so the
            button is put on as primary button. The text is also changed from
            “Message" to roughly translated “Ask for detail" for better context
            of buying online for users.
          </p>
          <p>
            Due to technical limitations, only carousel layout is available for
            displaying photos.
          </p>
        </div>
        <div class="g-col-12 g-col-md-6">
          <img src="{{ imagePath }}/zalo-connect1.gif" />
        </div>
      </div>
      <h3>Post detail</h3>
      <img src="{{ imagePath }}/zalo-connect21.png" />
    </div>

    <div class="results mt-100">
      <div class="flex align-center">
        <span>
          <img width="64" height="32" src="{{ imagePath }}/rectangle179.png" />
        </span>
        <span class="title">The results ✨</span>
      </div>
      <ul class="mt-40">
        <li>
          Compared to the old version, there has been an
          <b>1000% increase</b> in the number of shops from 40k to 400k during
          the first 3 months of launch.
        </li>
        <li>
          Zalo Connect receives more than <b>1M monthly traffic</b> on average.
        </li>
        <li>
          The new approach <b>encourages users to stay on the app longer</b> and
          discover new content, with an average of 10 post views per session.
        </li>
        <li>
          Sellers are happy with the new flow as it is similar to their behavior
          on social media. They find it easy to register shops and post their
          daily content compared to the old version.
        </li>
      </ul>
      <br />
      <img src="{{ imagePath }}/zalo-connect22.png" />
    </div>
  </div>
</div>
<app-see-next-project
  content="Bringing traditional scrap collector business in Vietnam online with ReGreen"
  subContent="Product design/2023"
></app-see-next-project>
