<div class="florist flex center column">
  <div class="flex center">
    <img src="{{ imagePath }}/florist1.png" />
  </div>
  <div class="wrapper flex center column">
    <div>
      <div class="project-overview mt-100">
        <div class="flex align-center">
          <span>
            <img
              width="64"
              height="32"
              src="{{ imagePath }}/rectangle179.png"
            />
          </span>
          <span class="title">Project overview</span>
        </div>
        <p class="mt-40">
          As the first project that was executed during Google UX Design course,
          I created Blooms - a florist app that help you buy flowers and
          customized them personally for your loved ones with just a few easy
          taps on the phone
        </p>
        <br />
        <br />
        <div class="grid">
          <div class="g-col-12 g-col-md-6">
            <div class="header1">TIMELINE</div>
            <p>December 2021 - March 2022</p>
          </div>
          <div class="g-col-12 g-col-md-6">
            <div class="header1">WHAT I DID</div>
            <p>
              Solo designer - user research, user flow, wireframe, hi-fi
              prototype, user testing, style guide
            </p>
          </div>
        </div>
        <br />
        <img src="{{ imagePath }}/florist2.png" />
      </div>
      <div class="research mt-100">
        <div class="flex align-center">
          <span>
            <img
              width="64"
              height="32"
              src="{{ imagePath }}/rectangle179.png"
            />
          </span>
          <span class="title">Research</span>
        </div>
        <h2 class="mt-40">User research summary</h2>
        <p>
          After conducting user interviews, there are some main takeaways to
          confirm the problems with buying flowers online
        </p>
        <div class="grid">
          <div class="g-col-12 g-col-md-6">
            <h3>⏰ Time-consuming to find credible shops</h3>
            <p>
              It is easy to find a florist online, but very time-consuming if
              users dedicated to find a apposite option
            </p>
          </div>
          <div class="g-col-12 g-col-md-6">
            <h3>🌷 Low durability</h3>
            <p>Flowers are not durable enough compared to other gift options</p>
          </div>
        </div>
        <div class="grid">
          <div class="g-col-12 g-col-md-6">
            <h3>🛍 Shopping online made things less personal</h3>
            <p>Rating system for shop flowers are generally inadequate</p>
          </div>
          <div class="g-col-12 g-col-md-6">
            <h3>📱 Technological barrier</h3>
            <p>
              Interviewed users complained about the usability experience they
              were having on other florist app.
            </p>
          </div>
        </div>
        <br />
        <div class="flex center column">
          <div class="bg-orange flex center">
            <img src="{{ imagePath }}/emoji1.png" />
            <span class="medium-size ml-5"
              >“Went to Google and didn’t know which florists to pick”</span
            >
          </div>
          <br />
          <div class="flex">
            <div class="bg-orange flex center mr-10">
              <img src="{{ imagePath }}/emoji4.png" />
              <span class="medium-size ml-5"
                >“Can’t see how big the bouquet is”</span
              >
            </div>
            <div class="bg-orange flex center">
              <img src="{{ imagePath }}/emoji2.png" />
              <span class="medium-size ml-5">“App is difficult to use”</span>
            </div>
          </div>
          <br />
          <div class="bg-orange flex center">
            <img src="{{ imagePath }}/emoji5.png" />
            <span class="medium-size"
              >“Overwhelmed with the web’s complex flower listing”</span
            >
          </div>
          <br />
          <div class="bg-orange flex center">
            <img src="{{ imagePath }}/emoji6.png" />
            <span class="medium-size"
              >“Flowers easily wilt, I want the gifts to be last longer”</span
            >
          </div>
          <br />
          <div class="bg-orange flex center">
            <img src="{{ imagePath }}/emoji7.png" />
            <span class="medium-size ml-5"
              >“Shopping online makes it less personal, lack of attention and
              care”</span
            >
          </div>
          <br />
          <div class="bg-orange flex center">
            <img src="{{ imagePath }}/emoji7.png" />
            <span class="medium-size ml-5"
              >“Feel awful when I cannot be there to give the flowers
              myself”</span
            >
          </div>
          <br />
          <div class="bg-orange flex center">
            <img src="{{ imagePath }}/emoji8.png" />
            <span class="medium-size ml-5"
              >“The voice transcription feature is hidden in the context menu,
              made it difficult to see”</span
            >
          </div>
        </div>
        <h2 class="mt-70">Competitor analysis: Opportunity and gaps</h2>
        <p>
          I analyzed 3 competitors that allow users to buy flowers online, while
          keeping previous user research in mind. The gap became great
          opportunity for our solution
        </p>
        <div class="grid center">
          <div class="flex center g-col-12 g-col-md-4">
            <img
              class="p-10"
              width="130"
              height="135"
              src="{{ imagePath }}/florist3.png"
            />
          </div>
          <div class="flex center g-col-12 g-col-md-4">
            <img
              class="p-10"
              width="130"
              height="135"
              src="{{ imagePath }}/florist4.png"
            />
          </div>
          <div class="flex center g-col-12 g-col-md-4">
            <img
              class="p-10"
              width="130"
              height="135"
              src="{{ imagePath }}/florist5.png"
            />
          </div>
        </div>
        <div class="flex center column">
          <div class="grey-wrapper">
            <h3>The gap</h3>
            <p>
              The competitors solely focus on functional features and have
              little customization for users to feel more involved in the
              process of giving flowers
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-black flex center column pt-100 pb-100">
  <div class="wrapper2">
    <div class="flex align-center">
      <span>
        <img width="64" height="32" src="{{ imagePath }}/rectangle178.png" />
      </span>
      <span class="title">Project goal</span>
    </div>
    <p class="mt-50">
      Design a florist app that helps user easily order flowers and personally
      customize the gift for their beloved ones
    </p>
    <div class="wrapper3">
      <span class="large-number">1</span>
      <span>Personalized experience</span>
    </div>
    <div class="wrapper3">
      <span class="large-number">2</span>
      <span>Florists credibility</span>
    </div>
    <div class="wrapper3">
      <span class="large-number">2</span>
      <span>Quick and easy to use</span>
    </div>
  </div>
</div>
<div class="florist flex center column">
  <div class="wrapper flex center column">
    <div class="iteration-for-phase-1 mt-100">
      <div class="flex align-center">
        <span>
          <img width="64" height="32" src="{{ imagePath }}/rectangle179.png" />
        </span>
        <span class="title">Wireframes</span>
      </div>
      <p class="mt-40">
        After 2 rounds of usability studies, findings from the first study
        helped guide the designs from wireframe to mockups. The second study
        used a high-fidelity prototype and revealed what aspects of the mockups
        need refining.
      </p>
      IMAGE HERE
      <!-- <img src="{{ imagePath }}/florist8.png" /> -->
    </div>
    <div class="final-solution mt-100">
      <div class="flex align-center">
        <span>
          <img width="64" height="32" src="{{ imagePath }}/rectangle179.png" />
        </span>
        <span class="title">Notable improvements</span>
      </div>

      <h2 class="mt-40 blue-main">1. E-greeting card visualization</h2>
      <h3 class="blue-main">Before</h3>
      <p>
        Originally, 3 kinds of greeting cards are made into buttons for users to
        choose. <b>3 out of 5 participants</b> find it hard to imagine what the
        e-greeting card will be when sent to the recipient's email
      </p>
      <h3 class="blue-main">After</h3>
      <p>
        The greeting card then is made exactly like what would be sent to the
        recipient’s email later. Users need to add cover and suitable gift
        message.
      </p>
      <img src="{{ imagePath }}/florist6.png" />
    </div>
    <div class="final-solution mt-100">
      <div class="flex align-center">
        <span>
          <img width="64" height="32" src="{{ imagePath }}/rectangle179.png" />
        </span>
        <span class="title">User interface</span>
      </div>
      <img class="mt-40" src="{{ imagePath }}/florist8.gif" />
      <div class="mt-40 flex center green bold">
        Please contact for full project discussion :)
      </div>
    </div>
  </div>
</div>
<img class="mt-40" src="{{ imagePath }}/florist9.png" />
<app-see-next-project
  content="Enhancing chat experience with reactions"
  subContent="UI design/2022"
></app-see-next-project>
