<div class="home flex center column">
  <div class="flex center">
    <img src="{{ imagePath }}/home1.png" />
  </div>
  <div class="wrapper flex center column">
    <div class="project-overview mt-100">
      <div class="flex align-center">
        <span>
          <img width="64" height="32" src="{{ imagePath }}/rectangle179.png" />
        </span>
        <span class="title">Project overview</span>
      </div>
      <p class="m-tb-40">
        <span class="blue-main bold">Zalo Chat reaction</span> allows users to
        react multiple times to a message to express different levels of
        emotion, making it a popular choice for expressive messaging. Our task
        is to enhance this feature by offering a wider range of emotions and
        customization options.
      </p>
      <div class="grid">
        <div class="g-col-12 g-col-md-4">
          <div class="header1">TIMELINE</div>
          <div>
            April 2023 - June 2023. Released on market on September 2023
          </div>
        </div>
        <div class="g-col-12 g-col-md-4">
          <div class="header1">THE TEAM</div>
          <div>
            April 2023 - June 2023. Released on market on September 2023
          </div>
        </div>
        <div class="g-col-12 g-col-md-4">
          <div class="header1">WHAT I DID</div>
          <div>
            April 2023 - June 2023. Released on market on September 2023
          </div>
        </div>
      </div>
      <div class="center mt-40">
        <div class="header1">GLOSSARY</div>
        <div class="grid">
          <div class="mb-10 g-col-12 g-col-md-4">
            <img src="{{ imagePath }}/home2.png" />
            <div class="mt-5 mb-5"><b>Basic reaction panel</b></div>
            <div>The default 6 emojis</div>
          </div>
          <div class="mb-10 g-col-12 g-col-md-4">
            <img src="{{ imagePath }}/home3.png" />
            <div class="mt-5 mb-5"><b>Multiple-time reaction</b></div>
            <div>
              Users can react multiple times to one bubble chat and with
              different emojis
            </div>
          </div>
          <div class="mb-10 g-col-12 g-col-md-4">
            <img src="{{ imagePath }}/home4.png" />
            <div class="mt-5 mb-5"><b>Reaction detail bottom sheet</b></div>
            <div>Detail of reaction activities</div>
          </div>
        </div>
      </div>
    </div>
    <div class="research mt-100">
      <div class="flex align-center">
        <span>
          <img width="64" height="32" src="{{ imagePath }}/rectangle179.png" />
        </span>
        <span class="title">Research</span>
      </div>
      <h4>
        Through current users data and user interviews, we focused on answering
        these questions
      </h4>
      <ul>
        <li>
          How users navigate through reaction features: react, remove, see
          details,…
        </li>
        <li>What was working well</li>
        <li>How do users feel about Zalo Emojis design</li>
        <li>How the current feature serve their purpose</li>
      </ul>
      <img class="mt-40" src="{{ imagePath }}/home8.png" />
      <h2 class="mt-40">Some insights</h2>
      <h2 class="blue-main">
        1. There is significant difference in how young users and older users
        use reaction
      </h2>
      <p>
        The basic reaction panel only has 6 emojis (Like, Love, Laugh, Wow, and
        Angry), but younger users wish to react with a lot more emojis that are
        not in the panel. In contrast, senior users only use reaction as a form
        of yes/no confirmation.
      </p>
      <div class="grid center">
        <div class="g-col-12 g-col-md-5">
          <img src="{{ imagePath }}/home9.png" />
        </div>
        <div class="g-col-12 g-col-md-7">
          <img src="{{ imagePath }}/home10.png" />
        </div>
      </div>
      <h2 class="blue-main">
        2. Users only use a small fix number of emojis to react
      </h2>
      <p>
        According to user data,
        <b class="blue-main">users use 4 emojis on average</b> to react, while
        52% users use less than 6 emojis in their entire usage. These confirms
        that they only use a small fix set to react, and it's important that we
        can make that process easier.
      </p>
      <p>
        To react with other emojis, users can enable a hidden feature in chat
        settings that lets them drag and drop emojis into chats. This feature,
        originally designed for gamification, is now outdated and hidden from
        new users, leading to a lack of awareness among many users.
      </p>
      <div class="mt-30">
        <img src="{{ imagePath }}/home6.png" />
      </div>
      <h2 class="blue-main">3. Users have trouble removing reactions</h2>
      <div class="grid center">
        <div class="g-col-12 g-col-md-4">
          <img src="{{ imagePath }}/home7.png" />
        </div>
        <div class="g-col-12 g-col-md-8">
          <p>
            For other messaging apps, users can tap to react, and tap again to
            undo. However with Zalo, because of its multi-reaction feature,
            another tap means another reaction counted. In order to remove
            reactions, users need to tap on the “Remove" button next to the
            basic reaction panel.
          </p>
          <p>
            <b class="blue-main">8/16 users interviewed wished</b> to have the
            remove reaction feature, although it has been released for 4 years
          </p>
          <p>
            <b class="blue-main">10/16 users interviewed</b> felt the icon
            symbolizing “Remove reaction" is confusing
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-black flex center column pt-100 pb-100">
  <div class="wrapper2">
    <div class="flex align-center">
      <span>
        <img width="64" height="32" src="{{ imagePath }}/rectangle178.png" />
      </span>
      <span class="title">Framing the problem</span>
    </div>
    <div class="mt-50">
      We placed our problems in the priority evaluation matrix. Based on our
      current resources and users need, we have determined the following
      priorities for this phase:
    </div>
    <div class="wrapper3">
      <span class="large-number">1</span>
      <span>Making removing reaction easier</span>
    </div>
    <div class="wrapper3">
      <span class="large-number">2</span>
      <span>Easy customization for reaction panel</span>
    </div>
  </div>
</div>
<div class="home flex center column">
  <div class="wrapper">
    <div class="iteration mt-100">
      <div class="flex align-center">
        <span>
          <img width="64" height="32" src="{{ imagePath }}/rectangle179.png" />
        </span>
        <span class="title">Iteration</span>
      </div>
      <p>
        I conducted competitor analysis with my teammate UX Writer to understand
        more about the market and behavior of different range of users on
        different apps. We then went through several iterations with product
        owner, understand their business goal and come up with the desired
        options.
      </p>
      <div class="grid">
        <div class="g-col-12 g-col-md-9">
          <img src="{{ imagePath }}/home11.png" />
        </div>
        <div class="g-col-12 g-col-md-3">
          <img src="{{ imagePath }}/home12.png" />
        </div>
        <div class="g-col-12 g-col-md-6">
          <img src="{{ imagePath }}/home13.png" />
        </div>
        <div class="g-col-12 g-col-md-6">
          <img src="{{ imagePath }}/home14.png" />
        </div>
      </div>
    </div>
    <div class="final-solution mt-100">
      <div class="flex align-center">
        <span>
          <img width="64" height="32" src="{{ imagePath }}/rectangle179.png" />
        </span>
        <span class="title">Final solution</span>
      </div>
      <br />
      <h2 class="blue-main">1. Making removing reaction easier</h2>
      <p>We divide the all actions related to reaction into 2 main groups</p>
      <p>Group 1: Reaction</p>
      <ul>
        <li>Choose an emoji to react</li>
      </ul>
      <p>Group 2: Reaction details (actions after reaction)</p>
      <ul>
        <li>See what user reacted → Remove certain unwanted reaction</li>
        <li>See who reacted to a bubble chat</li>
      </ul>
      <div class="g-col-12 g-col-md-9">
        <img src="{{ imagePath }}/home1.gif" />
      </div>
      <p>
        Based on this user flow, we put “Remove” in the reaction details bottom
        sheet so that users can have enough information and context to remove
        unwanted reaction.
      </p>
      <br />
      <h2 class="blue-main">2. Easy customization for reaction panel</h2>
      <img src="{{ imagePath }}/home15.png" />
      <br />
      <p>
        With other apps that we interviewed, users usually skip the text
        guidance and jump into finding out how to customize themselves.
        Sometimes they hit dead end, sometimes they succeed with a little bit of
        confusion.
      </p>
      <br />
      <h3>How did we utilize this customization process?</h3>
      <img src="{{ imagePath }}/home2.gif" />
      <br />
      <p>
        Keeping "<b>Design speak for itself</b>" in mind, I tried to minimize
        guidance text and designed the screen with clearer and more universal
        affordance. Users can now easily remove unwanted emojis and tap the
        desired emojis into the panel.
      </p>
      <br />
      <br />
      <img src="{{ imagePath }}/home3.gif" />
      <br />
      <p>
        To encourage users to try more reaction sets, two reset actions are
        added: "<b>Reset to default</b>" (resets to the system default reaction
        panel) and <b>Close button</b> (discard changes and resets to the
        previous customized reaction panel).
      </p>
    </div>
  </div>
</div>
<app-see-next-project
  content="Building a new e-commerce platform for 5M sellers with Zalo Connect"
></app-see-next-project>
